name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - &setupjava
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - &cachemaven
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: mvn clean install -B -DskipTests=true
      - uses: actions/upload-artifact@v4
        with:
          name: built-artifacts
          path: |
            target/
            Dockerfile
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - *setupjava
      - *cachemaven
      - uses: actions/download-artifact@v4
        with:
          name: built-artifacts
      - run: mvn verify -B
      - uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/*.xml
      - uses: actions/upload-artifact@v4
        with:
          name: failsafe-reports
          path: target/failsafe-reports/*.xml
      - uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco