name: E2E Tests
on:
  workflow_run:
    workflows: ["Deploy to Staging"]
    types:
      - completed

env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: europe-west1
  SERVICE: wordcountservice

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - run: gcloud config set project ${GCP_PROJECT_ID}
      - run: |
          export BASE_URL=$(gcloud run services describe ${SERVICE} --region ${REGION} --format "value(status.traffic.url)")
          cd e2e
          npm install
          npx playwright test