name: Promote to production
on:
  workflow_run:
    workflows: ["E2E Tests"]
    types:
      - completed

env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: europe-west1
  SERVICE: wordcountservice
jobs:
    promote:
      runs-on: ubuntu-latest
      needs: e2e-tests
      steps:
        - uses: google-github-actions/auth@v1
          with:
            credentials_json: ${{ secrets.GCP_SA_KEY }}
        - run: gcloud config set project ${GCP_PROJECT_ID}
        - run: |
            export NEW_REVISION=$(gcloud run revisions list \
              --limit 1 \
              --region ${REGION} \
              --format 'value(name)')
            export OLD_REVISIONS=$(gcloud run revisions list \
              --filter="metadata.name!=${NEW_REVISION}" \
              --region ${REGION} \
              --format="value(metadata.name)")
            gcloud run services update-traffic ${SERVICE} \
              --to-revisions ${NEW_REVISION}=100 \
              --region ${REGION} \
              --remove-tags staging
            for rev in ${OLD_REVISIONS}; do
              gcloud run revisions delete $rev --region europe-west1 --quiet
            done